footer {
  width:100%;
  background-color: $grey-color;
  padding: 10px;
  bottom: 0;
  p {

    margin-bottom: 20px;
    text-align: center;
    color: $white-color;
    font-size: 1.4rem;
  }
}
fieldset{border: none;}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: darkgrey;
  min-width: 250px;
  right: 5px;
  width: 30px;
  box-shadow: 0px 8px 16px  rgba(0,0,0,0.2);
  padding: 12px 16px;

}

.dropdown:hover .dropdown-content {
  display: block;}
span.fixed {
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 30px;
}

.btn-back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  font-size: 4rem;
  background-color: $blue-color;
  border: 0;
  color: $white-color;
  cursor: pointer;
  transition: background-color 1s;
  display: none;

  &:hover {
    background-color: $blue-dark-color;
  }
}