/* ========== header ========== */
.header {
  background-color: $black-color;
}

.header__btn-nav {
  &:hover {
    border-color: $yellow-color;
    background-color: $yellow-color;
    span {
      background-color: $black-color;
    }
  }
}