nav {
  background-color: rgba(36, 158, 27, 0.8);
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: -300px;
  transition: left 1s;
  &.show {
    left: 0;
  }
  .button {
    position: relative;
    text-align: right;
    font-size: 50px;
    color: $white-color;
    transition: color 0.5s linear 0.05s;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      cursor: pointer;
      color: $black-color;
    }
  }
  ul {
    > li {
      font-family: "DejaVu Sans";
      font-size: 20px;
      text-align: center;
      padding: 2px;
      margin-top: 50px;
      a {
        color: $white-color;
        text-transform: uppercase;
      }
    }
  }
}