.onas{
  margin: auto;
  width: 50%;
}
.onas-art{
  display: inline-block;
  text-align: center;
  padding: 30px;
}

.onas-img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}