.social {
  .icon-social {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    float: left;
    margin: 2px;
    transition: background-color 1s linear 0.2s;
  }

  .icon-social:hover {
    background: #fff;
    cursor: pointer;
  }

  .icon-social:before {
    left: -1px;
    top: 1px;
    position: relative;
  }

  .icon-social-facebook {
    background-color: #3b5998;
  }

  .icon-social-google {
    background-color: #D34836;

  }

  .icon-social-tweeter {
    background-color: #4099FF;
  }

  .icon-social-youtube {
    background-color: #e52d27;

  }


}

