/*
Syntax error: Invalid CSS after "@import "banner";": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 16 of style.scss

11:   clear: both;
12: }
13: 
14: @import "header";
15: @import "banner";
16: <<<<<<< HEAD
17: @import "navigation";
18: =======
19: @import "footer";
20: 
21: >>>>>>> 45789e2001c2dd3a51f3b019a08df3639cadcf8a

Backtrace:
style.scss:16
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1148:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1084:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:28:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:342:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:81:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:439:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:326:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \"banner\";\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 16 of style.scss\A \A 11:   clear: both;\A 12: }\A 13: \A 14: @import \"header\";\A 15: @import \"banner\";\A 16: <<<<<<< HEAD\A 17: @import \"navigation\";\A 18: =======\A 19: @import \"footer\";\A 20: \A 21: >>>>>>> 45789e2001c2dd3a51f3b019a08df3639cadcf8a"; }
