/*
Syntax error: Invalid CSS after "footer {": expected "}", was "<<<<<<< HEAD"
        on line 18 of _footer.scss
        from line 13 of style.scss

13: }
14: #middle {
15:   padding:10px;
16:   padding-bottom:60px;	}/* Wysokość nagłówka *\/
17: footer {
18: <<<<<<< HEAD
19:   position: relative;
20: =======
21:   position:fixed;
22:   bottom:0;
23: >>>>>>> ccaef3afb1784621c0c4c48f4ad01dd84c788101

Backtrace:
_footer.scss:18
style.scss:13
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1148:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1084:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1079:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:535:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:528:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:552:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:542:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:82:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:27:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:342:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:274:in `to_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:81:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:439:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:326:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"footer {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 18 of _footer.scss\A         from line 13 of style.scss\A \A 13: }\A 14: #middle {\A 15:   padding:10px;\A 16:   padding-bottom:60px;	}/* Wysokość nagłówka */\A 17: footer {\A 18: <<<<<<< HEAD\A 19:   position: relative;\A 20: =======\A 21:   position:fixed;\A 22:   bottom:0;\A 23: >>>>>>> ccaef3afb1784621c0c4c48f4ad01dd84c788101"; }
