.end-of-game {
  max-width: 400px;
  background-color: $heading-color;
  font-family: $basic-font;
  margin: 15% auto 0;

  .heading {
    color: $basic-color;
    text-align: center;
    border-bottom: 5px solid #5c3c0b;
    padding: 1rem 0;
    font-size: 2.6rem;
  }

  .result-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      font-size: 2.4rem;
      padding: 0 6rem 0 4rem;
      margin-bottom: 1rem;

      span {
        float: right;
        font-weight: bold;
      }
    }
  }
}

.end-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 43px);
  background-color: rgba($text-color, .8);
  padding: 2rem;
  position: absolute;
  top: 43px;
  left: 0;
}