.game-instruction {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 43px);
  background-color: rgba($text-color, .8);
  padding: 2rem;
  position: absolute;
  top: 43px;
  left: 0;
}

.instruction-txt {
  background-color: $white;
  padding: 2rem;

  p {
    padding: 0;
    margin: 0 0 1rem 0;
    line-height: 1.5;
    font-weight: bold;
    font-size: 1.7rem;
  }
}